.DS_Store
zokrates/code/square/abi.json
zokrates/code/square/out
zokrates/code/square/proof.json
zokrates/code/square/proving.key
zokrates/code/square/square.code
zokrates/code/square/verification.key
zokrates/code/square/verifier.sol
zokrates/code/square/witness
node_modules
